{{ 'component-SingleItemGallery.css' | asset_url | stylesheet_tag }}
<!-- <script type="module" src="{{- 'component-SingleItemGallery.js'| asset_url -}}"></script> -->

<div class="pl-hero"
  style="background: url('https://i.ibb.co/r35XWZP/Rectangle-2486.png') no-repeat; background-size:cover;background-position:bottom;">
  <div class="container">
    <div class="pl-hero__title">
      <h1 class="h1">Wholesale Pricelist </h1>
      <p> Updated December 2021</p>
    </div>
  </div>
</div>
<div class="pl-tabs js-tabs-pricelist">
  <div class="container">
    <ul class="pl-tabs__list">
      <li class="js-tab-btn  u-d-flex u-align-center pl-tabs__btn active" data-name="parts">Technical Overview</li>
      <li class="js-tab-btn  u-d-flex u-align-center pl-tabs__btn" data-name="accessories">I am looking for
        accessories </li>
      <li class="js-tab-btn  u-d-flex u-align-center pl-tabs__btn" data-name="e-bikes">Some Video Review </li>
    </ul>
    <div class="pl-tabs__content">
      <div class="pl-tabs__item-content js-tab-content parts active">
        <div class="pl-search">
          <div class="pl-search__text">
            <span class="pl-search__text-icon"> {% render 'icon', icon: 'warning-cyan' %} </span>
            <p> Select which parts you are looking for and click "Proceed To Checkout" when finished. </p>
          </div>
        </div>
        <div class="pl-filters">
          <div class="pl-filters__inner">
            <div class="pl-filters__col-left">
              <div class="pl-filters__content">
                <a href="#">all filters</a>
                <div class="pl-filters__search">
                  <input type="text" placeholder="Type to search...">
                  {% render 'icon', icon: 'search-line' %}
                </div>
                <div class="pl-filters__search-results">
                  <p>Showing 247 Parts</p>
                </div>
              </div>
            </div>
            <div class="pl-filters__col-right">
              <a href="#" class="btn btn--blue-fill"> Proceed to checkout</a>
            </div>
          </div>
          {%- section 'filter-tags' -%}
        </div>
        <div class="pl-search-results-names">
          <div class="pl-search-results__item-names">
            <div class="pl-search-results__item-name-img">
            </div>
            <div class="pl-search-results__item-name-id">
              <h5> SKU </h5>
            </div>
            <div class="pl-search-results__item-name">
              <h5>name</h5>
            </div>
            <div class="pl-search-results__item-name-description">
              <h5>description </h5>
            </div>
            <div class="pl-search-results__item-name-sale">
              <h5> WHOLESALE / <span class="cyan"> RETAIL </span></h5>
            </div>
          </div>
        </div>

        <ul class="pl-search-result js-single-item-gallery">

          <li class="pl-search-results__item js-single-item-active">
            <div class="pl-search-results__img js-single-gallery-open">
              <img src="https://i.ibb.co/5YDM1Mp/Black-Scout-Geared-Website.jpg" loading="lazy" width="" height=""
                alt="">
            </div>
            <div class="pl-search-results__id">
              <span>SPMBB4813A </span>
            </div>
            <div class="pl-search-results__name">
              <a href="#" class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </a>

            </div>
            <div class="pl-search-results__description">
              <h5 class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </h5>
              <span class="pl-tooltip js-tooltip-pricelist" data-tippy-content="I'm a tooltip!">
                {% render 'icon', icon: 'warining-grey' %}
              </span>
            </div>
            <div class="pl-search-results__cta">
              <div class="pl-search-results__price">
                <p>$2400 / <span>$3800</span></p>
              </div>

              <div class="pl-search-results__counter">
                <div class="input-increment js-input-increment disable-decrease">
                  <button type="button" class="input-increment__cta js-number-decrease">{% render 'icon', icon: 'minus' %}</button>
                  <input class="input-increment__number js-input-number" type="number" id="Quantity-{{ section.id }}"
                    name="quantity" value="1" min="1" pattern="[0-9]*" />
                  <button type="button" class="input-increment__cta js-number-increase">{% render 'icon', icon: 'plus' %}</button>
                </div>
              </div>
              <div class="pl-search-results__btn">
                <a href="#" class="btn btn--blue-fill">Add To Cart</a>
              </div>
            </div>
            <div class="single-gallery-popup js-single-gallery-popup">
              <a class="close-single-gallery js-close-single-gallery" href="#"> {% render 'icon', icon: 'close' %}</a>
              <img src=" https://via.placeholder.com/750x750" width="" height=""alt="Image description" />
            </div>
          </li>
          <li class="pl-search-results__item js-single-item-gallery">
            <div class="pl-search-results__img js-single-gallery-open">
              <img src="https://i.ibb.co/5YDM1Mp/Black-Scout-Geared-Website.jpg" loading="lazy" width="" height=""
                alt="">
            </div>
            <div class="pl-search-results__id">
              <span>SPMBB4813A </span>
            </div>
            <div class="pl-search-results__name">
              <a href="#" class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </a>

            </div>
            <div class="pl-search-results__description">
              <h5 class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </h5>
              <span class="pl-tooltip js-tooltip-pricelist" data-tippy-content="I'm a tooltip!">
                {% render 'icon', icon: 'warining-grey' %} </span>

            </div>
            <div class="pl-search-results__cta">
              <div class="pl-search-results__price">
                <p>$2400 / <span>$3800</span></p>
              </div>

              <div class="pl-search-results__counter">
                <div class="input-increment js-input-increment disable-decrease">
                  <button type="button" class="input-increment__cta
                                              js-number-decrease">{% render 'icon', icon: 'minus' %}</button>
                  <input class="input-increment__number js-input-number" type="number" id="Quantity-{{ section.id }}"
                    name="quantity" value="1" min="1" pattern="[0-9]*" />
                  <button type="button" class="input-increment__cta
                                              js-number-increase">{% render 'icon', icon: 'plus' %}</button>
                </div>
              </div>
              <div class="pl-search-results__btn">
                <a href="#" class="btn btn--blue-fill">Add To Cart</a>
              </div>
            </div>
            <div class="single-gallery-popup js-single-gallery-popup">
              <a class="close-single-gallery js-close-single-gallery" href="#"> {% render 'icon', icon: 'close' %}</a>
              <img src=" https://via.placeholder.com/750x750" width="" height=""alt="Image description" />
            </div>
        </li>
        <li class="pl-search-results__item js-single-item-gallery">
          <div class="pl-search-results__img js-single-gallery-open">
            <img src="https://i.ibb.co/5YDM1Mp/Black-Scout-Geared-Website.jpg" loading="lazy" width="" height=""
              alt="">
          </div>
          <div class="pl-search-results__id">
            <span>SPMBB4813A </span>
          </div>
          <div class="pl-search-results__name">
            <a href="#" class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </a>

          </div>
          <div class="pl-search-results__description">
            <h5 class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </h5>
            <span class="pl-tooltip js-tooltip-pricelist" data-tippy-content="I'm a tooltip!">
              {% render 'icon', icon: 'warining-grey' %} </span>

          </div>
          <div class="pl-search-results__cta">
            <div class="pl-search-results__price">
              <p>$2400 / <span>$3800</span></p>
            </div>
            <div class="pl-search-results__counter">
              <div class="input-increment js-input-increment disable-decrease">
                <button type="button" class="input-increment__cta
                                            js-number-decrease">{% render 'icon', icon: 'minus' %}</button>
                <input class="input-increment__number js-input-number" type="number" id="Quantity-{{ section.id }}"
                  name="quantity" value="1" min="1" pattern="[0-9]*" />
                <button type="button" class="input-increment__cta
                                            js-number-increase">{% render 'icon', icon: 'plus' %}</button>
              </div>
            </div>
            <div class="pl-search-results__btn">
              <a href="#" class="btn btn--blue-fill">Add To Cart</a>
            </div>
          </div>
          <div class="single-gallery-popup js-single-gallery-popup">
            <a class="close-single-gallery js-close-single-gallery" href="#"> {% render 'icon', icon: 'close' %}</a>
            <img src=" https://via.placeholder.com/750x750" width="" height=""alt="Image description" />
          </div>
        </li>
        <li class="pl-search-results__item">
          <div class="pl-search-results__img">
            <img src="https://i.ibb.co/5YDM1Mp/Black-Scout-Geared-Website.jpg" loading="lazy" width="" height="" alt="">
          </div>
          <div class="pl-search-results__id">
            <span>SPMBB4813A </span>
          </div>
          <div class="pl-search-results__name">
            <a href="#" class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </a>

          </div>
          <div class="pl-search-results__description">
            <h5 class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </h5>
            <span class="pl-tooltip js-tooltip-pricelist" data-tippy-content="I'm a tooltip!">
              {% render 'icon', icon: 'warining-grey' %}
            </span>
          </div>
          <div class="pl-search-results__cta">
            <div class="pl-search-results__price">
              <p>$2400 / <span>$3800</span></p>
            </div>

            <div class="pl-search-results__counter">
              <div class="input-increment js-input-increment disable-decrease">
                <button type="button" class="input-increment__cta
                                            js-number-decrease">{% render 'icon', icon: 'minus' %}</button>
                <input class="input-increment__number js-input-number" type="number" id="Quantity-{{ section.id }}"
                  name="quantity" value="1" min="1" pattern="[0-9]*" />
                <button type="button" class="input-increment__cta
                                            js-number-increase">{% render 'icon', icon: 'plus' %}</button>
              </div>
            </div>
            <div class="pl-search-results__btn">
              <a href="#" class="btn btn--blue-fill">Add To Cart</a>
            </div>
          </div>
        </li>
        <li class="pl-search-results__item">
          <div class="pl-search-results__img">
            <img src="https://i.ibb.co/5YDM1Mp/Black-Scout-Geared-Website.jpg" loading="lazy" width="" height=""
              alt="">

          </div>
          <div class="pl-search-results__id">
            <span>SPMBB4813A </span>
          </div>
          <div class="pl-search-results__name">
            <a href="#" class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </a>

          </div>
          <div class="pl-search-results__description">
            <h5 class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </h5>
            <span class="pl-tooltip js-tooltip-pricelist" data-tippy-content="I'm a tooltip!">
              {% render 'icon', icon: 'warining-grey' %}
            </span>
          </div>
          <div class="pl-search-results__cta">
            <div class="pl-search-results__price pl-search-results__price--soldout">
              <span class="pl-sold-out"> sold out</span>
            </div>

            <div class="pl-search-results__counter">
              <div class="input-increment js-input-increment disable-decrease">
                <button type="button" class="input-increment__cta
                                            js-number-decrease">{% render 'icon', icon: 'minus' %}</button>
                <input class="input-increment__number js-input-number" type="number" id="Quantity-{{ section.id }}"
                  name="quantity" value="1" min="1" pattern="[0-9]*" />
                <button type="button" class="input-increment__cta
                                            js-number-increase">{% render 'icon', icon: 'plus' %}</button>
              </div>
            </div>
            <div class="pl-search-results__btn">
              <a href="#" class="btn btn--outline">Add To Quote</a>
            </div>
          </div>
        </li>
        <li class="pl-search-results__item">
          <div class="pl-search-results__img">

            <img src="https://i.ibb.co/5YDM1Mp/Black-Scout-Geared-Website.jpg" loading="lazy" width="" height=""
              alt="">

          </div>
          <div class="pl-search-results__id">
            <span>SPMBB4813A </span>
          </div>
          <div class="pl-search-results__name">
            <a href="#" class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </a>

          </div>
          <div class="pl-search-results__description">
            <h5 class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </h5>
            <span class="pl-tooltip js-tooltip-pricelist" data-tippy-content="I'm a tooltip!">
              {% render 'icon', icon: 'warining-grey' %}
            </span>
          </div>
          <div class="pl-search-results__cta">
            <div class="pl-search-results__price">
              <p>$2400 / <span>$3800</span></p>
            </div>

            <div class="pl-search-results__counter">
              <div class="input-increment js-input-increment disable-decrease">
                <button type="button" class="input-increment__cta
                                            js-number-decrease">{% render 'icon', icon: 'minus' %}</button>
                <input class="input-increment__number js-input-number" type="number" id="Quantity-{{ section.id }}"
                  name="quantity" value="1" min="1" pattern="[0-9]*" />
                <button type="button" class="input-increment__cta
                                            js-number-increase">{% render 'icon', icon: 'plus' %}</button>
              </div>
            </div>
            <div class="pl-search-results__btn">
              <a href="#" class="btn btn--blue-fill">Add To Cart</a>
            </div>
          </div>
        </li>
        <li class="pl-search-results__item">
          <div class="pl-search-results__img">

            <img src="https://i.ibb.co/5YDM1Mp/Black-Scout-Geared-Website.jpg" loading="lazy" width="" height=""
              alt="">

          </div>
          <div class="pl-search-results__id">
            <span>SPMBB4813A </span>
          </div>
          <div class="pl-search-results__name">
            <a href="#" class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </a>

          </div>
          <div class="pl-search-results__description">
            <h5 class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </h5>
            <span class="pl-tooltip js-tooltip-pricelist" data-tippy-content="I'm a tooltip!">
              {% render 'icon', icon: 'warining-grey' %}
            </span>
          </div>
          <div class="pl-search-results__cta">
            <div class="pl-search-results__price">
              <p>$2400 / <span>$3800</span></p>
            </div>

            <div class="pl-search-results__counter">
              <div class="input-increment js-input-increment disable-decrease">
                <button type="button" class="input-increment__cta
                                            js-number-decrease">{% render 'icon', icon: 'minus' %}</button>
                <input class="input-increment__number js-input-number" type="number" id="Quantity-{{ section.id }}"
                  name="quantity" value="1" min="1" pattern="[0-9]*" />
                <button type="button" class="input-increment__cta
                                            js-number-increase">{% render 'icon', icon: 'plus' %}</button>
              </div>
            </div>
            <div class="pl-search-results__btn">
              <a href="#" class="btn btn--blue-fill">Add To Cart</a>
            </div>
          </div>
        </li>
        <li class="pl-search-results__item">
          <div class="pl-search-results__img">

            <img src="https://i.ibb.co/5YDM1Mp/Black-Scout-Geared-Website.jpg" loading="lazy" width="" height=""
              alt="">

          </div>
          <div class="pl-search-results__id">
            <span>SPMBB4813A </span>
          </div>
          <div class="pl-search-results__name">
            <a href="#" class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </a>

          </div>
          <div class="pl-search-results__description">
            <h5 class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </h5>
            <span class="pl-tooltip js-tooltip-pricelist" data-tippy-content="I'm a tooltip!">
              {% render 'icon', icon: 'warining-grey' %}
            </span>
          </div>
          <div class="pl-search-results__cta">
            <div class="pl-search-results__price">
              <p>$2400 / <span>$3800</span></p>
            </div>

            <div class="pl-search-results__counter">
              <div class="input-increment js-input-increment disable-decrease">
                <button type="button" class="input-increment__cta
                                            js-number-decrease">{% render 'icon', icon: 'minus' %}</button>
                <input class="input-increment__number js-input-number" type="number" id="Quantity-{{ section.id }}"
                  name="quantity" value="1" min="1" pattern="[0-9]*" />
                <button type="button" class="input-increment__cta
                                            js-number-increase">{% render 'icon', icon: 'plus' %}</button>
              </div>
            </div>
            <div class="pl-search-results__btn">
              <a href="#" class="btn btn--blue-fill">Add To Cart</a>
            </div>
          </div>
        </li>
        <li class="pl-search-results__item">
          <div class="pl-search-results__img">

            <img src="https://i.ibb.co/5YDM1Mp/Black-Scout-Geared-Website.jpg" loading="lazy" width="" height=""
              alt="">

          </div>
          <div class="pl-search-results__id">
            <span>SPMBB4813A </span>
          </div>
          <div class="pl-search-results__name">
            <a href="#" class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </a>

          </div>
          <div class="pl-search-results__description">
            <h5 class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </h5>
            <span class="pl-tooltip js-tooltip-pricelist" data-tippy-content="I'm a tooltip!">
              {% render 'icon', icon: 'warining-grey' %}
            </span>
          </div>
          <div class="pl-search-results__cta">
            <div class="pl-search-results__price">
              <p>$2400 / <span>$3800</span></p>
            </div>

            <div class="pl-search-results__counter">
              <div class="input-increment js-input-increment disable-decrease">
                <button type="button" class="input-increment__cta
                                            js-number-decrease">{% render 'icon', icon: 'minus' %}</button>
                <input class="input-increment__number js-input-number" type="number" id="Quantity-{{ section.id }}"
                  name="quantity" value="1" min="1" pattern="[0-9]*" />
                <button type="button" class="input-increment__cta
                                            js-number-increase">{% render 'icon', icon: 'plus' %}</button>
              </div>
            </div>
            <div class="pl-search-results__btn">
              <a href="#" class="btn btn--blue-fill">Add To Cart</a>
            </div>
          </div>
        </li>
        <li class="pl-search-results__item">
          <div class="pl-search-results__img">

            <img src="https://i.ibb.co/5YDM1Mp/Black-Scout-Geared-Website.jpg" loading="lazy" width="" height=""
              alt="">

          </div>
          <div class="pl-search-results__id">
            <span>SPMBB4813A </span>
          </div>
          <div class="pl-search-results__name">
            <a href="#" class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </a>

          </div>
          <div class="pl-search-results__description">
            <h5 class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </h5>
            <span class="pl-tooltip js-tooltip-pricelist" data-tippy-content="I'm a tooltip!">
              {% render 'icon', icon: 'warining-grey' %}
            </span>
          </div>
          <div class="pl-search-results__cta">
            <div class="pl-search-results__price">
              <p>$2400 / <span>$3800</span></p>
            </div>

            <div class="pl-search-results__counter">
              <div class="input-increment js-input-increment disable-decrease">
                <button type="button" class="input-increment__cta
                                            js-number-decrease">{% render 'icon', icon: 'minus' %}</button>
                <input class="input-increment__number js-input-number" type="number" id="Quantity-{{ section.id }}"
                  name="quantity" value="1" min="1" pattern="[0-9]*" />
                <button type="button" class="input-increment__cta
                                            js-number-increase">{% render 'icon', icon: 'plus' %}</button>
              </div>
            </div>
            <div class="pl-search-results__btn">
              <a href="#" class="btn btn--blue-fill">Add To Cart</a>
            </div>
          </div>
        </li>
        <li class="pl-search-results__item">
          <div class="pl-search-results__img">

            <img src="https://i.ibb.co/5YDM1Mp/Black-Scout-Geared-Website.jpg" loading="lazy" width="" height=""
              alt="">

          </div>
          <div class="pl-search-results__id">
            <span>SPMBB4813A </span>
          </div>
          <div class="pl-search-results__name">
            <a href="#" class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </a>

          </div>
          <div class="pl-search-results__description">
            <h5 class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </h5>
            <span class="pl-tooltip js-tooltip-pricelist" data-tippy-content="I'm a tooltip!">
              {% render 'icon', icon: 'warining-grey' %}
            </span>
          </div>
          <div class="pl-search-results__cta">
            <div class="pl-search-results__price">
              <p>$2400 / <span>$3800</span></p>
            </div>

            <div class="pl-search-results__counter">
              <div class="input-increment js-input-increment disable-decrease">
                <button type="button" class="input-increment__cta
                                            js-number-decrease">{% render 'icon', icon: 'minus' %}</button>
                <input class="input-increment__number js-input-number" type="number" id="Quantity-{{ section.id }}"
                  name="quantity" value="1" min="1" pattern="[0-9]*" />
                <button type="button" class="input-increment__cta
                                            js-number-increase">{% render 'icon', icon: 'plus' %}</button>
              </div>
            </div>
            <div class="pl-search-results__btn">
              <a href="#" class="btn btn--blue-fill">Add To Cart</a>
            </div>
          </div>
        </li>
        <li class="pl-search-results__item">
          <div class="pl-search-results__img">

            <img src="https://i.ibb.co/5YDM1Mp/Black-Scout-Geared-Website.jpg" loading="lazy" width="" height=""
              alt="">

          </div>
          <div class="pl-search-results__id">
            <span>SPMBB4813A </span>
          </div>
          <div class="pl-search-results__name">
            <a href="#" class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </a>

          </div>
          <div class="pl-search-results__description">
            <h5 class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </h5>
            <span class="pl-tooltip js-tooltip-pricelist" data-tippy-content="I'm a tooltip!">
              {% render 'icon', icon: 'warining-grey' %}
            </span>
          </div>
          <div class="pl-search-results__cta">
            <div class="pl-search-results__price">
              <p>$2400 / <span>$3800</span></p>
            </div>

            <div class="pl-search-results__counter">
              <div class="input-increment js-input-increment disable-decrease">
                <button type="button" class="input-increment__cta
                                            js-number-decrease">{% render 'icon', icon: 'minus' %}</button>
                <input class="input-increment__number js-input-number" type="number" id="Quantity-{{ section.id }}"
                  name="quantity" value="1" min="1" pattern="[0-9]*" />
                <button type="button" class="input-increment__cta
                                            js-number-increase">{% render 'icon', icon: 'plus' %}</button>
              </div>
            </div>
            <div class="pl-search-results__btn">
              <a href="#" class="btn btn--blue-fill">Add To Cart</a>
            </div>
          </div>
        </li>
      </ul>
        {% render 'single-item-gallery' %}
      </div>
      <div class="pl-tabs__item-content js-tab-content accessories">
        <div class="pl-search">
          <div class="pl-search__text">
            <span class="pl-search__text-icon"> {% render 'icon', icon: 'warning-cyan' %} </span>
            <p> Select which parts you are looking for and click "Proceed To Checkout" when finished. </p>
          </div>
        </div>
        <div class="pl-filters">
          <div class="pl-filters__inner">
            <div class="pl-filters__col-left">
              <div class="pl-filters__content">
                <a href="#">all filters</a>
                <div class="pl-filters__search">
                  <input type="text" placeholder="Type to search...">
                  {% render 'icon', icon: 'search-line' %}
                </div>
                <div class="pl-filters__search-results">
                  <p>Showing 247 Parts</p>
                </div>
              </div>
            </div>
            <div class="pl-filters__col-right">
              <a href="#" class="btn btn--blue-fill"> Proceed to checkout</a>
            </div>
          </div>
          {%- section 'filter-tags' -%}
        </div>
        <div class="pl-search-results-names">
          <div class="pl-search-results__item-names">
            <div class="pl-search-results__item-name-img">
            </div>
            <div class="pl-search-results__item-name-id">
              <h5> SKU </h5>
            </div>
            <div class="pl-search-results__item-name">
              <h5>name</h5>
            </div>
            <div class="pl-search-results__item-name-description">
              <h5>description </h5>
            </div>
            <div class="pl-search-results__item-name-sale">
              <h5> WHOLESALE / <span class="cyan"> RETAIL </span></h5>
            </div>
          </div>
        </div>
        <ul class="pl-search-results js-single-item-gallery">

          <li class="pl-search-results__item js-single-gallery-open">
            <div class="pl-search-results__img">

              <img src="https://i.ibb.co/y47xVND/Black-Scout-Geared-Website-1.jpg" loading="lazy" width="" height=""
                alt="">

            </div>
            <div class="pl-search-results__id">
              <span>SPMBB4813A </span>
            </div>
            <div class="pl-search-results__name">
              <h5 class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </h5>
            </div>
            <div class="pl-search-results__description">
              <h5 class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </h5>
              <span class="pl-tooltip js-tooltip-pricelist" data-tippy-content="I'm a tooltip!">
                {% render 'icon', icon: 'warining-grey' %}
              </span>
            </div>
            <div class="pl-search-results__cta">
              <div class="pl-search-results__price">
              </div>

              <div class="pl-search-results__counter">
                <div class="input-increment js-input-increment disable-decrease">
                  <button type="button" class="input-increment__cta
                                                  js-number-decrease">{% render 'icon', icon: 'minus' %}</button>
                  <input class="input-increment__number js-input-number" type="number" id="Quantity-{{ section.id }}"
                    name="quantity" value="1" min="1" pattern="[0-9]*" />
                  <button type="button" class="input-increment__cta
                                                  js-number-increase">{% render 'icon', icon: 'plus' %}</button>
                </div>
              </div>
              <div class="pl-search-results__btn">
                <a href="#" class="btn btn--outline">Add To Quote</a>
              </div>
            </div>
            <div class="single-gallery-popup js-single-gallery-popup">
              <a class="close-single-gallery js-close-single-gallery" href="#"> {% render 'icon', icon: 'close' %}</a>
              <img src=" https://via.placeholder.com/750x750" width="" height=""alt="Image description" />
            </div>
          </li>
          <li class="pl-search-results__item">
            <div class="pl-search-results__img">
              <img src="https://i.ibb.co/y47xVND/Black-Scout-Geared-Website-1.jpg" loading="lazy" width="" height=""
                alt="">

            </div>
            <div class="pl-search-results__id">
              <span>SPMBB4813A </span>
            </div>
            <div class="pl-search-results__name">
              <a href="#" class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </a>
            </div>
            <div class="pl-search-results__description">
              <h5 class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </h5>
              <span class="pl-tooltip js-tooltip-pricelist" data-tippy-content="I'm a tooltip!">
                {% render 'icon', icon: 'warining-grey' %} </span>

            </div>
            <div class="pl-search-results__cta">
              <div class="pl-search-results__price">
              </div>

              <div class="pl-search-results__counter">
                <div class="input-increment js-input-increment disable-decrease">
                  <button type="button" class="input-increment__cta
                                                  js-number-decrease">{% render 'icon', icon: 'minus' %}</button>
                  <input class="input-increment__number js-input-number" type="number" id="Quantity-{{ section.id }}"
                    name="quantity" value="1" min="1" pattern="[0-9]*" />
                  <button type="button" class="input-increment__cta
                                                  js-number-increase">{% render 'icon', icon: 'plus' %}</button>
                </div>
              </div>
              <div class="pl-search-results__btn">
                <a href="#" class="btn btn--outline">Add To Quote</a>
              </div>
            </div>
          </li>
          <li class="pl-search-results__item">
            <div class="pl-search-results__img">
              <img src="https://i.ibb.co/y47xVND/Black-Scout-Geared-Website-1.jpg" loading="lazy" width="" height=""
                alt="">
            </div>
            <div class="pl-search-results__id">
              <span>SPMBB4813A </span>
            </div>
            <div class="pl-search-results__name">
              <a href="#" class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </a>
            </div>
            <div class="pl-search-results__description">
              <h5 class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </h5>
              <span class="pl-tooltip js-tooltip-pricelist" data-tippy-content="I'm a tooltip!">
                {% render 'icon', icon: 'warining-grey' %}
              </span>
            </div>
            <div class="pl-search-results__cta">
              <div class="pl-search-results__price pl-search-results__price--soldout">
                <span class="pl-sold-out"> sold out</span>
              </div>
              <div class="pl-search-results__counter">
                <div class="input-increment js-input-increment disable-decrease">
                  <button type="button" class="input-increment__cta
                                                  js-number-decrease">{% render 'icon', icon: 'minus' %}</button>
                  <input class="input-increment__number js-input-number" type="number" id="Quantity-{{ section.id }}"
                    name="quantity" value="1" min="1" pattern="[0-9]*" />
                  <button type="button" class="input-increment__cta
                                                  js-number-increase">{% render 'icon', icon: 'plus' %}</button>
                </div>
              </div>
              <div class="pl-search-results__btn">
                <a href="#" class="btn btn--outline">Add To Quote</a>
              </div>
            </div>
          </li>
          <li class="pl-search-results__item">
            <div class="pl-search-results__img">
              <img src="https://i.ibb.co/y47xVND/Black-Scout-Geared-Website-1.jpg" loading="lazy" width="" height=""
                alt="">
            </div>
            <div class="pl-search-results__id">
              <span>SPMBB4813A </span>
            </div>
            <div class="pl-search-results__name">
              <a href="#" class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </a>

            </div>
            <div class="pl-search-results__description">
              <h5 class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </h5>
              <span class="pl-tooltip js-tooltip-pricelist" data-tippy-content="I'm a tooltip!">
                {% render 'icon', icon: 'warining-grey' %}
              </span>
            </div>
            <div class="pl-search-results__cta">
              <div class="pl-search-results__price  pl-search-results__price--soldout  ">
                <span class="pl-sold-out"> sold out</span>
              </div>

              <div class="pl-search-results__counter">
                <div class="input-increment js-input-increment disable-decrease">
                  <button type="button" class="input-increment__cta
                                                  js-number-decrease">{% render 'icon', icon: 'minus' %}</button>
                  <input class="input-increment__number js-input-number" type="number" id="Quantity-{{ section.id }}"
                    name="quantity" value="1" min="1" pattern="[0-9]*" />
                  <button type="button" class="input-increment__cta
                                                  js-number-increase">{% render 'icon', icon: 'plus' %}</button>
                </div>
              </div>
              <div class="pl-search-results__btn">
                <a href="#" class="btn btn--outline">Add To Quote</a>
              </div>
            </div>
          </li>
          <li class="pl-search-results__item">
            <div class="pl-search-results__img">

              <img src="https://i.ibb.co/y47xVND/Black-Scout-Geared-Website-1.jpg" loading="lazy" width="" height=""
                alt="">

            </div>
            <div class="pl-search-results__id">
              <span>SPMBB4813A </span>
            </div>
            <div class="pl-search-results__name">
              <a href="#" class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </a>

            </div>
            <div class="pl-search-results__description">
              <h5 class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </h5>
              <span class="pl-tooltip js-tooltip-pricelist" data-tippy-content="I'm a tooltip!">
                {% render 'icon', icon: 'warining-grey' %}
              </span>
            </div>
            <div class="pl-search-results__cta">
              <div class="pl-search-results__price">
              </div>

              <div class="pl-search-results__counter">
                <div class="input-increment js-input-increment disable-decrease">
                  <button type="button" class="input-increment__cta
                                                  js-number-decrease">{% render 'icon', icon: 'minus' %}</button>
                  <input class="input-increment__number js-input-number" type="number" id="Quantity-{{ section.id }}"
                    name="quantity" value="1" min="1" pattern="[0-9]*" />
                  <button type="button" class="input-increment__cta
                                                  js-number-increase">{% render 'icon', icon: 'plus' %}</button>
                </div>
              </div>
              <div class="pl-search-results__btn">
                <a href="#" class="btn btn--outline">Add To Quote</a>
              </div>
            </div>
          </li>
          <li class="pl-search-results__item">
            <div class="pl-search-results__img">

              <img src="https://i.ibb.co/y47xVND/Black-Scout-Geared-Website-1.jpg" loading="lazy" width="" height=""
                alt="">

            </div>
            <div class="pl-search-results__id">
              <span>SPMBB4813A </span>
            </div>
            <div class="pl-search-results__name">
              <a href="#" class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </a>

            </div>
            <div class="pl-search-results__description">
              <h5 class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </h5>
              <span class="pl-tooltip js-tooltip-pricelist" data-tippy-content="I'm a tooltip!">
                {% render 'icon', icon: 'warining-grey' %}
              </span>
            </div>
            <div class="pl-search-results__cta">
              <div class="pl-search-results__price">
              </div>

              <div class="pl-search-results__counter">
                <div class="input-increment js-input-increment disable-decrease">
                  <button type="button" class="input-increment__cta
                                                  js-number-decrease">{% render 'icon', icon: 'minus' %}</button>
                  <input class="input-increment__number js-input-number" type="number" id="Quantity-{{ section.id }}"
                    name="quantity" value="1" min="1" pattern="[0-9]*" />
                  <button type="button" class="input-increment__cta
                                                  js-number-increase">{% render 'icon', icon: 'plus' %}</button>
                </div>
              </div>
              <div class="pl-search-results__btn">
                <a href="#" class="btn btn--outline">Add To Quote</a>
              </div>
            </div>
          </li>
          <li class="pl-search-results__item">
            <div class="pl-search-results__img">

              <img src="https://i.ibb.co/y47xVND/Black-Scout-Geared-Website-1.jpg" loading="lazy" width="" height=""
                alt="">

            </div>
            <div class="pl-search-results__id">
              <span>SPMBB4813A </span>
            </div>
            <div class="pl-search-results__name">
              <a href="#" class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </a>

            </div>
            <div class="pl-search-results__description">
              <h5 class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </h5>
              <span class="pl-tooltip js-tooltip-pricelist" data-tippy-content="I'm a tooltip!">
                {% render 'icon', icon: 'warining-grey' %}
              </span>
            </div>
            <div class="pl-search-results__cta">
              <div class="pl-search-results__price">
              </div>

              <div class="pl-search-results__counter">
                <div class="input-increment js-input-increment disable-decrease">
                  <button type="button" class="input-increment__cta
                                                  js-number-decrease">{% render 'icon', icon: 'minus' %}</button>
                  <input class="input-increment__number js-input-number" type="number" id="Quantity-{{ section.id }}"
                    name="quantity" value="1" min="1" pattern="[0-9]*" />
                  <button type="button" class="input-increment__cta
                                                  js-number-increase">{% render 'icon', icon: 'plus' %}</button>
                </div>
              </div>
              <div class="pl-search-results__btn">
                <a href="#" class="btn btn--outline">Add To Quote</a>
              </div>
            </div>
          </li>
          <li class="pl-search-results__item">
            <div class="pl-search-results__img">

              <img src="https://i.ibb.co/y47xVND/Black-Scout-Geared-Website-1.jpg" loading="lazy" width="" height=""
                alt="">

            </div>
            <div class="pl-search-results__id">
              <span>SPMBB4813A </span>
            </div>
            <div class="pl-search-results__name">
              <a href="#" class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </a>

            </div>
            <div class="pl-search-results__description">
              <h5 class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </h5>
              <span class="pl-tooltip js-tooltip-pricelist" data-tippy-content="I'm a tooltip!">
                {% render 'icon', icon: 'warining-grey' %}
              </span>
            </div>
            <div class="pl-search-results__cta">
              <div class="pl-search-results__price">
              </div>

              <div class="pl-search-results__counter">
                <div class="input-increment js-input-increment disable-decrease">
                  <button type="button" class="input-increment__cta
                                                  js-number-decrease">{% render 'icon', icon: 'minus' %}</button>
                  <input class="input-increment__number js-input-number" type="number" id="Quantity-{{ section.id }}"
                    name="quantity" value="1" min="1" pattern="[0-9]*" />
                  <button type="button" class="input-increment__cta
                                                  js-number-increase">{% render 'icon', icon: 'plus' %}</button>
                </div>
              </div>
              <div class="pl-search-results__btn">
                <a href="#" class="btn btn--outline">Add To Quote</a>
              </div>
            </div>
          </li>
          <li class="pl-search-results__item">
            <div class="pl-search-results__img">

              <img src="https://i.ibb.co/y47xVND/Black-Scout-Geared-Website-1.jpg" loading="lazy" width="" height=""
                alt="">

            </div>
            <div class="pl-search-results__id">
              <span>SPMBB4813A </span>
            </div>
            <div class="pl-search-results__name">
              <a href="#" class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </a>

            </div>
            <div class="pl-search-results__description">
              <h5 class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </h5>
              <span class="pl-tooltip js-tooltip-pricelist" data-tippy-content="I'm a tooltip!">
                {% render 'icon', icon: 'warining-grey' %}
              </span>
            </div>
            <div class="pl-search-results__cta">
              <div class="pl-search-results__price">
              </div>

              <div class="pl-search-results__counter">
                <div class="input-increment js-input-increment disable-decrease">
                  <button type="button" class="input-increment__cta
                                                  js-number-decrease">{% render 'icon', icon: 'minus' %}</button>
                  <input class="input-increment__number js-input-number" type="number" id="Quantity-{{ section.id }}"
                    name="quantity" value="1" min="1" pattern="[0-9]*" />
                  <button type="button" class="input-increment__cta
                                                  js-number-increase">{% render 'icon', icon: 'plus' %}</button>
                </div>
              </div>
              <div class="pl-search-results__btn">
                <a href="#" class="btn btn--outline">Add To Quote</a>
              </div>
            </div>
          </li>
          <li class="pl-search-results__item">
            <div class="pl-search-results__img">

              <img src="https://i.ibb.co/y47xVND/Black-Scout-Geared-Website-1.jpg" loading="lazy" width="" height=""
                alt="">

            </div>
            <div class="pl-search-results__id">
              <span>SPMBB4813A </span>
            </div>
            <div class="pl-search-results__name">
              <a href="#" class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </a>

            </div>
            <div class="pl-search-results__description">
              <h5 class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </h5>
              <span class="pl-tooltip js-tooltip-pricelist" data-tippy-content="I'm a tooltip!">
                {% render 'icon', icon: 'warining-grey' %}
              </span>
            </div>
            <div class="pl-search-results__cta">
              <div class="pl-search-results__price">
              </div>

              <div class="pl-search-results__counter">
                <div class="input-increment js-input-increment disable-decrease">
                  <button type="button" class="input-increment__cta
                                                  js-number-decrease">{% render 'icon', icon: 'minus' %}</button>
                  <input class="input-increment__number js-input-number" type="number" id="Quantity-{{ section.id }}"
                    name="quantity" value="1" min="1" pattern="[0-9]*" />
                  <button type="button" class="input-increment__cta
                                                  js-number-increase">{% render 'icon', icon: 'plus' %}</button>
                </div>
              </div>
              <div class="pl-search-results__btn">
                <a href="#" class="btn btn--outline">Add To Quote</a>
              </div>
            </div>
          </li>
          <li class="pl-search-results__item">
            <div class="pl-search-results__img">

              <img src="https://i.ibb.co/y47xVND/Black-Scout-Geared-Website-1.jpg" loading="lazy" width="" height=""
                alt="">

            </div>
            <div class="pl-search-results__id">
              <span>SPMBB4813A </span>
            </div>
            <div class="pl-search-results__name">
              <a href="#" class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </a>

            </div>
            <div class="pl-search-results__description">
              <h5 class="h5">48v13Ah Magnum Premium/ High Step/Black - 2019 </h5>
              <span class="pl-tooltip js-tooltip-pricelist" data-tippy-content="I'm a tooltip!">
                {% render 'icon', icon: 'warining-grey' %}
              </span>
            </div>
            <div class="pl-search-results__cta">
              <div class="pl-search-results__price">
              </div>

              <div class="pl-search-results__counter">
                <div class="input-increment js-input-increment disable-decrease">
                  <button type="button" class="input-increment__cta
                                                  js-number-decrease">{% render 'icon', icon: 'minus' %}</button>
                  <input class="input-increment__number js-input-number" type="number" id="Quantity-{{ section.id }}"
                    name="quantity" value="1" min="1" pattern="[0-9]*" />
                  <button type="button" class="input-increment__cta
                                                  js-number-increase">{% render 'icon', icon: 'plus' %}</button>
                </div>
              </div>
              <div class="pl-search-results__btn">
                <a href="#" class="btn btn--blue-fill">Add To Cart</a>
              </div>
            </div>
          </li>

        </ul>
      </div>
      <div class="pl-tabs__item-content js-tab-content e-bikes">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, a?
      </div>
    </div>
  </div>
</div>
{% render 'pagination' %}
